<nav class="navbar navbar-expand-lg  ">
  <div class="row">
  <div class="col-lg-10 ">
    <a class="navbar-brand" href="#">Trivago</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="col-lg-2 collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav want">
      <li class="nav-item  ">
        <a class="nav-link" href="#">INR </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign in</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<footer>
  <div class="container-fluid">
    <div class="row">
    <div class="col-lg-10 last-section">

      <div class=" col-md-5 Subscribe">
        <p>Want to receive exclusive hotel offers? Subscribe to our newsletter!</p>

        <input type="text" name="email" placeholder="Enter Your email" class="search-container"><input type="submit"
          name="Subscribe" value="Subscribe" class="col-sm-1">
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-10 social">
      <div class="col-md-5">
        <p>trivago N.V., Kesselstraße 5 – 7, 40221 Düsseldorf, Germany</p>
      </div>
      <div class="col-md-5 country ">
        <select>
          India

          <option>USA</option>
          <option>Argentina</option>
        </select>
      </div>
    </div>
  </div>
  </div>
            <div class="col-lg-10 tool">
                    <div class="col-sm-3 ">
                      <a>Company</a>
                      <a>Career</a>
                      <a>Jobs</a>
                      <a>Press</a>
                      <a>Investor Relations</a>
                      <a>Expedia</a>
                    </div>
                          <div class="col-sm-4">
                             <a>Mobile apps - searching on the go</a>
                             <a>trivago Hotel Manager - for hoteliers</a>
                           </div>

                      <div class="col-sm-3">
                          <a>Learn how trivago works</a>
                          <a>Terms and Conditions</a>
                          <a>Legal Information</a>
                          <a>Privacy Policy</a>
                          <a>Site Map</a>
                      </div>
            </div>
        

</footer>
<div class="last-footer">

    <h2>trivago</h2>
    <p>Copyright 2019 trivago | All rights reserved.</p>

  </div>